<ng-template #divLoading>
  <div class="row justify-content-center" style="width: 94%; height: 50%; margin:3%;">
    <div class="col-sm-10 col-md-4 col-lg-3  align-self-center">
      <div style="margin: 35%; text-align: center;">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</ng-template>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click)="restartGame()">Roland gamos</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openSettings()" *ngIf="!in_progress; else restart">
      <mat-icon>settings</mat-icon>
    </button>
    <ng-template #restart>
      <button mat-icon-button (click)="restartGame()">
        <mat-icon>cached</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<div class="row justify-content-center" *ngIf="!loading; else divLoading" style="width: 94%; height: 50%; margin:3%;">
  <div class="col-sm-10 col-md-10 col-lg-8 align-self-center align-items-center" style="height: 100%;">
    <div class="row justify-content-center" *ngIf="!display_feats; else feats">
      <div class="col align-items-center" *ngIf="!in_progress; else game">
        <div class="row justify-content-center square-above" style="margin-top:20%">
          <div class="col-lg-2 col-md-2 col-sm-10 align-self-center centered">
            <button mat-raised-button color="primary" (click)="startGame()">Commencer</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-10 m-2 align-self-center centered">
            <mat-form-field appearance="outline">
              <mat-label>Difficulté</mat-label>
              <mat-select [(value)]="difficulty">
                <mat-option [value]="d.value" *ngFor="let d of difficulties">{{ d.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <ng-template #game>
        <div class="row justify-content-center square-above" style="margin-top:50px">
          <div class="col align-self-center centered">
            <div class="row justify-content-center" style="max-height: 300px; overflow-y: auto; margin-bottom: 5%;">
              <div class="col align-self-center centered" id="game_list" >
                <div class="row justify-content-center" *ngFor="let artist of game_artists; let i = index">
                  <div class="col" style="text-align: left; font-style: italic;" *ngIf="i%2==0">
                    {{artist.name}}
                  </div>
                  <div class="col" style="text-align: right; font-weight: bold;" *ngIf="i%2==1">
                    {{artist.name}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center" *ngIf="!(gameover || win || timer==0)">
              <mat-form-field class="example-form-field">
                <mat-label>Artiste ayant collaboré avec</mat-label>
                <input matInput type="text" autocomplete="off" (keyup.Enter)= "checkArtist()" [(ngModel)]="artist_to_check">
                <button mat-button *ngIf="artist_to_check" matSuffix mat-icon-button aria-label="Clear" (click)="artist_to_check=''">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="start"><strong style="color:red" *ngIf="same_artist">Artiste déjà cité</strong></mat-hint>
                <mat-hint align="end" [ngClass]="{'red': timer<5 && timer%2==0}">{{timer}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="row justify-content-center" style="margin-top: 5%;" *ngIf="!(gameover || win || timer==0)">
              <button mat-raised-button (click)="checkArtist()">Valider</button>
            </div>

            <div class="row justify-content-center" style="margin-top: 5%;" *ngIf="gameover || timer==0">
              <div class="col align-self-center centered red">
                GAME OVER | SCORE : {{score}}
              </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 5%;" *ngIf="win">
              <div class="col align-self-center centered green">
                VICTOIRE CONTRE L'IA | SCORE : {{score}}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #feats>
      <div class="row justify-content-center square-above" style="height: 120%; margin-top:5rem;">
        <div class="col-6 align-self-start centered" style="max-height: 100%; overflow-y: auto;">
          <button mat-button color="primary" *ngIf="artist1" (click)="selectArtist(1,artist1)">{{artist1.name}}</button>
          <mat-list *ngIf="!artist1">
            <mat-list-item *ngFor="let a1 of artists">
              <button mat-button (click)="selectArtist(1,a1)">{{a1.name}}</button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="col-6 align-self-start centered" *ngIf="artist1" style="max-height: 100%; overflow-y: auto;">
          <button mat-button color="primary" *ngIf="artist2" (click)="selectArtist(2,artist2)">{{artist2.name}}</button>
          <mat-list *ngIf="!artist2">
            <mat-list-item *ngFor="let a2 of hideArtist(artist1)">
              <button mat-button *ngIf="a2.id!=artist1.id" (click)="selectArtist(2,a2)">{{a2.name}}</button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="col-12 align-self-start" *ngIf="artist1 && artist2"
          style="max-height: 80%; overflow-y: auto;">
          <mat-list *ngIf="possible_songs.length!=0; else nosongs">
            <mat-list-item *ngFor="let s of possible_songs">
              {{ s }}
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
          <ng-template #nosongs>
            <p style="text-align: center;">Pas de feats entre les deux</p>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</div>
