<!-- <h1 mat-dialog-title>Settings</h1> -->
<div mat-dialog-content style="text-align: center;">
  <button mat-raised-button color="primary" [mat-dialog-close]="!data.display_feats" *ngIf="data.display_feats; else feats">Accueil</button>
  <div style="margin: 10%;"></div>
  <ng-template #feats>
    <button mat-raised-button color="primary" [mat-dialog-close]="!data.display_feats">Voir la liste des feats</button>
  </ng-template>
  <div style="text-align: left;">
    <div>Statut des connexions</div>
    <br>
    <div [ngClass]="{'connected': data.connected_to_spotify, 'disconnected': !data.connected_to_spotify}">API Spotify</div>
    <div [ngClass]="{'connected': data.connected_to_db, 'disconnected': !data.connected_to_db}">Base de données</div>
    <br>
    <div *ngIf="!data.connected_to_db || !data.connected_to_spotify" style="font-style: italic; font-size: small;">Essayez de recharger la page</div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCloseClick()">Fermer</button>
</div>