/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.example-form-field {
  width: 200px;
}

.content {
  height: 100%;
  width: 100%;
}

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  background: url(/assets/rap-jeu-background.png) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(12px);
}

.example-spacer {
  flex: 1 1 auto;
}

.centered {
  text-align: center;
  padding: 0;
}
.left {
  text-align: left;
  font-style: italic;
}
.right {
  text-align: right;
  font-weight: bold;
}

.square-above {
  padding: 5%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-list-item {
  color: white;
}

.connected{
  color: green;
}
.disconnected{
  color:red;
}
.red{
  color:red !important;
}
.green{
  color: green !important;
}